@CHARSET "UTF-8";

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
}
#content {
	padding-bottom:40px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
}

.answer {
	padding: 15px 15px;
	margin-bottom: 19px;
	
}
.answer:hover h4{
	font-weight: bold;
}

.pass{
	background-color: green;
	height: 335px;
}
.fail{
	background-color: red;
	height: 335px;	
}